<mat-card>
  <p>{{cabecera.LINEA_1}}</p>
  <p>{{cabecera.LINEA_2}}</p>
  <p>{{cabecera.LINEA_3}}</p>
  <mat-divider></mat-divider>
  <p></p>
  <p></p>
  <p></p>
  <p>Claves principales</p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <div class="fila">
    <p>Expediente......:</p>
    <mat-form-field matTooltip="Este campo dispone de ayuda. Introduzca '?' en este campo para abrirla..." style="width: 1ch;" >
      <mat-label>TEXTP</mat-label>
      <input matInput maxlength="1" >
    </mat-form-field>
    <mat-form-field matTooltip="PEXP" style="width: 2ch;">
      <mat-label>PEXP</mat-label>
      <input matInput maxlength="2">
    </mat-form-field>
    <mat-form-field matTooltip="AEXP" style="width: 4ch;">
      <mat-label>AEXP</mat-label>
      <input matInput maxlength="4">
    </mat-form-field>
    <mat-form-field matTooltip="CEXP" style="width: 1ch;">
      <mat-label>CEXP</mat-label>
      <input matInput maxlength="1">
    </mat-form-field>
    <mat-form-field matTooltip="NEXP" style="width: 9ch;">
      <mat-label>NEXP</mat-label>
      <input matInput maxlength="9">
    </mat-form-field>
    <mat-form-field matTooltip="DUEXP" style="width: 2ch;">
      <mat-label>DUEXP</mat-label>
      <input matInput maxlength="2">
    </mat-form-field>
    <mat-form-field matTooltip="DEEXP" style="width: 2ch;">
      <mat-label>DEEXP</mat-label>
      <input matInput maxlength="2">
    </mat-form-field>

  </div>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p>-------- Clave para pensionistas ---</p>
  <p></p>
  <p></p>
  <p></p>
  <div class="fila">
    <p>Identificador Persona Fisica (IPF)</p>
    <mat-form-field matTooltip="TIPOIPF" style="width: 1ch;">
      <mat-label>TIPOIPF</mat-label>
      <input matInput maxlength="1">
    </mat-form-field>
    <mat-form-field matTooltip="NUMIPF" style="width: 10ch;">
      <mat-label>{{cuerpo.NUMIPF}}</mat-label>
      <input matInput maxlength="10">
    </mat-form-field>
    <mat-form-field matTooltip="DUPIPF" style="width: 2ch;">
      <mat-label>DUPIPF</mat-label>
      <input matInput maxlength="2">
    </mat-form-field>
    <mat-form-field matTooltip="DESIPF" style="width: 2ch;" >
      <mat-label>DESIPF</mat-label>
      <input matInput maxlength="2">
    </mat-form-field>
  </div>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <mat-divider></mat-divider>
  <button mat-button (click)="openDialog()">Abre PHNMSIP1</button>

</mat-card>
