<!-- <div>
  <mat-chip-list aria-label="Fish selection" >
    <mat-chip>PF1 ?</mat-chip>
    <mat-chip>PF2 mp</mat-chip>
    <mat-chip color="accent" selected matTooltip="Ir a pantalla anterior">PF3 ma</mat-chip>
    <mat-chip matTooltip="transaccion">PF4 trans</mat-chip>
    <mat-chip disabled matTooltip="Confirmar">PF5 confirmar</mat-chip>
    <mat-chip>PF6 atras</mat-chip>
    <mat-chip color="primary" selected>PF7 -</mat-chip>
    <mat-chip color="primary" selected>PF8 +</mat-chip>
    <mat-chip>PF9</mat-chip>
    <mat-chip color="accent" selected>ENTER</mat-chip>
  </mat-chip-list>
</div> -->
<!-- <footer class="footer mt-auto py-3 bg-light"> -->
<div >
  <mat-chip-list aria-label="Fish selection" >
    <mat-chip *ngFor="let pf of funciones"
    matTooltip={{pf.info}}
    [disabled]="pf.bloqueado"
    color="accent">{{pf.texto}}</mat-chip>
  </mat-chip-list>
</div>
<!-- </footer> -->
