<div>
  <span>Acciones disponibles:</span>
  <mat-chip-list aria-label="Fish selection" >
    <mat-chip>PF1</mat-chip>
    <mat-chip>PF2</mat-chip>
    <mat-chip color="accent" selected>PF3</mat-chip>
    <mat-chip>PF4</mat-chip>
    <mat-chip disabled>PF5</mat-chip>
    <mat-chip>PF6</mat-chip>
    <mat-chip color="primary" selected>PF7</mat-chip>
    <mat-chip color="primary" selected>PF8</mat-chip>
    <mat-chip>PF9</mat-chip>
    <mat-chip color="accent" selected>ENTER</mat-chip>
  </mat-chip-list>
</div>
