<mat-card class="hey">
<p>linea1</p>
<p>linea2</p>
<p>linea3</p>
<p>linea4</p>
<p>linea5</p>
<p>------------</p>
<mat-divider></mat-divider>
<br>
<form class="fila">
  <p>Pag:</p>
  <mat-form-field  style="width: 1ch;" >
    <mat-label>PAGINA</mat-label>
    <input matInput maxlength="1" >
  </mat-form-field>
  <p>/</p>
  <mat-form-field  style="width: 1ch;" >
    <mat-label>PAGINA_TOT</mat-label>
    <input matInput maxlength="1" >
  </mat-form-field>
</form>
<p>--- Periodo de Pago --</p>
<div>
  <table mat-table [dataSource]="listado" class="mat-elevation-z8">

    <ng-container *ngFor="let columna of displayedColumns" matColumnDef={{columna}}>
      <th mat-header-cell *matHeaderCellDef> {{columna}} </th>
      <td mat-cell *matCellDef="let element"> {{element[columna]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
    <tr
      mat-row
      (click)="openDialog()"
      *matRowDef="let row; columns: displayedColumns;"
  ></tr>
  </table>


</div>
<p>linea8</p>
<!-- <button mat-button (click)="openDialog()">Abrir Detalle</button> -->
</mat-card>
