mat-sidenav-content {
  // padding-top: 50px;
  // display: flex;
  // gap: 30px;

  // background-color: #49709c;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), #49709c 70%);

  // align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.superior{
  color: white;
}
